<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <article class="icons fl">
    <i class="icon" nz-icon nzType="cloud" nzTheme="outline"></i>
    <span class="title ml10">ng-blog</span>
  </article>
  <section class="content fl">
    <ul class="list" nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'">
      <li nz-menu-item (click)="onClick()">
        <i nz-icon [nzType]="'global'" [nzTheme]="'outline'"></i>
        <span>路由</span>
      </li>
      <li nz-menu-item>
        <i nz-icon [nzType]="'global'" [nzTheme]="'outline'"></i>
        <span>组件</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="cloud-server" nzTheme="outline"></i>
        <span>表单</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="cloud-sync" nzTheme="outline"></i>
        <span>模块</span>
      </li>
    </ul>
  </section>
</div>
<nz-content class="container">
  <router-outlet></router-outlet>
</nz-content>
