<nz-content class="pd20">
  <h1>Angular Router</h1>
  <h2> angular动画切换和路由组件的动画实现</h2>
  <p>
    <a href="https://angular.cn/guide/router#milestone-3-heroes-feature">https://angular.cn/guide/router#milestone-3-heroes-feature</a>
  </p>
  <nav>
    <a routerLink="./crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="./heroes" routerLinkActive="active" class="ml20">Heroes</a>
  </nav>
  <div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</nz-content>
